camps{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstBlock p{
    color: rgba(30, 30, 30, 1);
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    
}
.text li{
    color: rgba(30, 30, 30, 1);
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    width: 848px;
}
.firstBlock h2{
    color: var(--Primary-700, #165C64);
    font-family: 'Lato',sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px; /* 150% */
}
.secondblock{
    background: #ECF4F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.secondblock p{
    color: rgba(30, 30, 30, 1);
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    
}
.text{
    max-width: 848px;
}
.secondblock h2{
    color: var(--Primary-700, #165C64);
    font-family: 'Lato',sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px; /* 150% */
}
.mainImg{
    max-width: 848px;
    border-radius: 16px;
    margin: 32px 0px 32px 0px;
    width: 848px;
}
.block{
    display: flex;
    
    margin-top: 16px;
    
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 8px -2px rgba(30, 30, 30, 0.25);
    padding: 20px 0px 20px 16px;
    }
    .block:hover{
        
        box-shadow: 0px 0px 5px 0px #1D7A85B2;
        cursor: pointer;

    }
    .block:active{
        border: 1px solid #204145;
        box-shadow: 0px 0px 0px 0px #1D7A85B2;
    }
    .blocks{
        width: 848px;
    }
.block p{ 
        margin: 0px;
        padding-left: 8px;
        color: var(--Neutral-800, #444);
        font-family: 'Lato',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    width: 760px;
}
.leftSide{
        display: flex;
}


@media (max-width:430px) {
    .firstBlock p{
        width: 328px;
    }
    .secondblock p{
        width: 328px;
    }
    
    .text li, .text ul{ 
        width: 328px;
    }
    .mainImg{
        width: 360px;
    }
    h2{
        width: 360px;  
    }
    .secondblock, camps{
        align-items: flex-start
    }
    .block{
        width: 390px;
    }
    .blocks{
        max-width: 430px;
    }
    .line{
        width: 328px;
        content: url(C:/Users/Павло/Desktop/project/my-react-app/src/AllAssets/line328.svg)
    }
    
}
    
    